/* Font Style */


/* Page Header Syle */

body > header > img {
    display: block;
    width: 100%;
}

/* Body Header Styles */

body > header > nav.horizontalNavigation li {
    width: 25%;
}

/* Navigation List Styles */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 2px solid;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

/* Horizontal Navigation Style */

nav.horizontalNavigation li {
    list-style-image: url(football.png);
    display: block;
    float: left;
    padding-left: 0px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: goldenrod;
    display: block;
    width: auto;
    font-size: 2em;
    text-align: center;
}

/* Background Styles */

body {
        background-color: palegoldenrod;
}

blockquote {
    background-image: url(stadium1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;

}

p {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgb(204, 0, 0);
    font-size: 1.5em;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* Quote Styles */
blockquote {
    color: antiquewhite;
    text-shadow: 5px 5px 5px black;
    background-color: rgb(255, 226, 122);
    border-radius: 10px;
    border-width: thick;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

/* Grid Styles */

blockquote {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

/* Forms Styles */

form {
    display: block;
    text-align: center;
}

legend {
    font-size: 1.2em;
    background-color: indianred;
}

/* Gallery Styles */

div.gallery {
    margin: 5px;
    border: 5px solid darkred;
    float: left;
    width: 200px;
}

div.gallery:hover {
    border: 5px solid red; 
}


div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    color: antiquewhite;
    padding: 10px;
    text-align: center;
    background-color: goldenrod;
    font-size: 1.2em;
}

